<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Unity Trading - Forget Password</title>
</head>
<body>
  <a href="/login">
  <img src="/image.png" alt="Unity Trading Logo">
</a>
  <a href="/login" class="go">Login</a>
  <div class="login-container">
        <h2>Reset Your Password</h2>
        <form action="/forgot-password" method="POST">
            <input type="email" name="email" placeholder="Enter your registered email" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
