<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Unity Trading</title>
</head>
<body>
  <a href="/login">
  <img src="/image.png" alt="Unity Trading Logo">
</a>
  <a href="/signup" class="go">Sigin up</a>
  <div class="login-container">
        <h2>Sign in to Unity Trading</h2>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
            <a href="/forgot-password">Forget Password</a>
        </form>
    </div>
  
</body>
</html>